.home-page-container,
.category-detail-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.home-page-header {
    padding: 20px 0 0;
}
.home-page-header-title {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #171717;
}
.home-page-header-title > i {
    margin-right: 8px;
}
.home-balance-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
}
.home-balance-current,
.home-balance-expense {
    flex: 1 1 calc(100% - 6px);
    display: flex;
    flex-direction: column;
    gap: 12px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    padding: 8px;
    background-color: #ffffff;
}
.home-page-balance-title {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #171717;
}
.home-balance {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.home-balance-value {
    width: 100px;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.home-category-title {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}
.home-category-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.home-category-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.category-box,
.category-box-default {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    padding: 16px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}
.category-box-default {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.category-box-icon,
.category-box-info {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.category-box-icon > img {
    width: 32px;
    height: 32px;
}
.category-box-name {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}
.current-balance {
    color: #409C37;
}
.expense-balance {
    color: #EE0033;
}
.category-remove-icon {
    position: absolute;
    right: -6px;
    top: -6px;
}
.category-remove-icon > i {
    font-size: 20px;
}